@import "../../variables.scss";

.balance {
  height: 402px;
  background-color: $primary-color;

  &__box {
    border-color: $secondary-color;
  }

  &__icon-open {
    color: $secondary-color;
  }

  &__icon-closed {
    color: $accent-color;
  }
}
