@import "../../variables.scss";

.tab {
  display: flex;
  justify-content: center;
  text-align: center;

  &__nav {
    margin-top: 32px;
    a {
      font-size: 16px;
      color: $link-menu-color;
      font-weight: 400;
      display: block;
      border-bottom: 1px solid $primary-color;
      padding-bottom: 16px;
      margin-bottom: 16px;
    }

    a.active {
      font-weight: 700;
      color: $primary-color;
    }
  }
}

.navbar {
  height: 100vh;
}

/* Mobile: até 360px */
@media (max-width: 360px) {
  .navbar {
    display: none !important;
  }

  .navbar-tablet {
    display: none !important;
  }
}

 /* Estilos para tablets */
@media (min-width: 361px) and (max-width: 720px) {
  .navbar {
    display: none !important;
  }
}

/* Desktop: entre 721px e 1920px */
@media (min-width: 721px) and (max-width: 1920px) {
  .navbar-tablet {
    display: none !important;
  }
}

/* Extra large desktops: acima de 1920px */
@media (min-width: 1921px) {
  .navbar-tablet {
    display: none !important;
  }
}
